---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
}

const { entry } = Astro.props;
---

<a href={`/${entry.collection}/${entry.slug}`} class="list-card">
  <div class="list-card-copy">
    <div class="list-card-title">
      {entry.data.title}
    </div>
    <div class="list-card-description">
      {entry.data.description}
    </div>
  </div>
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 24 24"
    class="list-card-icon">
    <line x1="5" y1="12" x2="19" y2="12" />
    <polyline points="12 5 19 12 12 19" />
  </svg>
</a>
