<button id="back-to-top" class="back-link">
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 24 24"
    class="back-link-icon back-link-icon-top">
    <line x1="5" y1="12" x2="19" y2="12" />
    <polyline points="12 5 5 12 12 19" />
  </svg>
  <div>
    Back to top
  </div>
</button>
