---
import Container from "@components/Container.astro";
---

<header>
  <Container>
    <div class="site-header">
      <a class="site-logo" href="/" aria-label="Oliver Birchill home">
        <span>OB</span><span class="site-logo-dot">.</span>
      </a>
      <nav class="site-nav" aria-label="Primary">
        <a href="/work">work</a>
        <a href="/projects">projects</a>
      </nav>
    </div>
  </Container>
</header>
